<style type="text/css">
	.evaluate {
		padding: 60px 10px;
	}

	.all-dishes {
		margin-top: 10px;
	}

	.dish-box {
	}

	.dish-box li {
		background: white;
		width: 49%;
		margin-bottom: 10px;
		box-shadow: 1px 1px 9px rgba(0,0,0,.2);
		border-radius: 4px;
	}

	.dish-box img {
		width: 100%;
		height: 170px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.dish-info {
		height: 37px;
		line-height: 37px;
		padding: 0 10px;
		font-size: 14px;
	}

</style>

<weuiheader title="评价订单"></weuiheader>

<div class="evaluate">
	<p class="col999">选出您最喜欢的菜品:</p>
	<div class="all-dishes">
		<ul class="dish-box">
			<li class="float-left">
				<img src="/images/dish.png">
				<div class="dish-info">
					<p class="float-left">鱼香肉丝</p>
					<p class="float-right" style="color:#fd661c">¥ 29</p>
				</div>
			</li>

			<li class="float-right">
				<img src="/images/dish.png">
				<div class="dish-info">
					<p class="float-left">鱼香肉丝</p>
					<p class="float-right" style="color:#fd661c">¥ 29</p>
				</div>
			</li>

			<li class="float-left">
				<img src="/images/dish.png">
				<div class="dish-info">
					<p class="float-left">鱼香肉丝</p>
					<p class="float-right" style="color:#fd661c">¥ 29</p>
				</div>
			</li>

			<li class="float-right">
				<img src="/images/dish.png">
				<div class="dish-info">
					<p class="float-left">鱼香肉丝</p>
					<p class="float-right" style="color:#fd661c">¥ 29</p>
				</div>
			</li>
		</ul>
	</div>
</div>
