<style type="text/css">
	.fonts-icons {
		padding-top: 30px;
		text-align: center;
	}

	.fonts-icons p {
		margin-bottom: 20px;
	}
</style>

<link rel="stylesheet" href="../backup/header.css">

<div class="fonts-icons">
	<p><i class="icon-x icon-x1"></i></p>
	<p><i class="icon-x icon-x2"></i></p>
	<p><i class="icon-x icon-x3"></i></p>
	<p><i class="icon-x icon-x4"></i></p>
	<p><i class="icon-x icon-x5"></i></p>
	<p><i class="icon-x icon-x6"></i></p>
	<p><i class="icon-x icon-x7"></i></p>
	<p><i class="icon-x icon-x8"></i></p>
	<p><i class="icon-x icon-x9"></i></p>
	<p><i class="icon-x icon-x10"></i></p>
	<p><i class="icon-x icon-x11"></i></p>
	<p><i class="icon-x icon-x12"></i></p>
	<p><i class="icon-x icon-x13"></i></p>
	<p><i class="icon-x icon-x14"></i></p>
	<p><i class="icon-x icon-x15"></i></p>
	<p><i class="icon-x icon-x17"></i></p>
	<p><i class="icon-x icon-x30"></i></p>
	<p><i class="icon-x icon-x31"></i></p>
	<p><i class="icon-x icon-x32"></i></p>
</div>

