<style type="text/css">

.load-flash{
  width:100%;
  height:100%;
  z-index: 1000;
  position: absolute;
  top:0;
  left:0;
  background: white;
}

.load-img{
  transform: translateY(50%);
  width:100%;
}

</style>

<!-- 开场动画 -->
<div class="load-flash" ng-hide="hasShowed">
      <img src="./images/load.gif" class="load-img">
</div>

<div class="main">

	<div class="store-theme">
		 <img src="/images/store_bg.png" class="store-bg">
		 <!-- 透明度背景 -->
		 <div class="bg-layer"></div>

		 <!-- 店名和餐台 -->
		 <div class="store-table">
		 	<p style="font-size: 24px;">弄堂里（文三路店）</p>
		 	<p style="font-size: 20px;">餐台 A120</p>
		 </div>

		 <!-- 店铺logo -->
		 <div class="store-logo"></div>
	</div>

	<!-- 广播 -->
	<div class="broadcast">
		 <img src="/images/broadcast_icon.png" class="broadcast-icon">
		 <span class="broadcast-content">全场在线点菜满100减5</span>
	</div>

	<!-- 四个选项卡 -->
	<div class="four-labels">
		<div class="row">
			<a href ui-sref="waiterRanking" class="click-box float-left" style="background: #fbf6f1;">
				<img src="/images/order_food.png" class="box-icon">
				<p>堂食点餐</p>
			</a>
			<a href="#" class="click-box float-right" style="background: #e8fae4;">
				<img src="/images/weixin_pay.png" class="box-icon">
				<p>微信支付</p>
			</a>
		</div>

		<div class="row" style="margin-top:10px;">
			<a href="#/hasOrder" class="click-box float-left" style="background: #eef7fc;">
				<img src="/images/has_order.png" class="box-icon">
				<p style="position: relative;">已点订单<span class="order-num">5</span></p>
			</a>
			<a href="#/test?id=2&tableCode=A001" class="click-box float-right" style="background: #fef3f0;">
				<img src="/images/comment.png" class="box-icon">
				<p>评价打赏</p>
			</a>
		</div>


	</div>
  
</div>
