
<style type="text/css">

.load-flash{
  width:100%;
  height:100%;
  z-index: 10000;
  position: absolute;
  top:0;
  left:0;
  background: white;
}

.load-img {
  transform: translateY(50%);
  width:100%;
}

.person {
  width: 19px;
  height: 21px;
}

.main {
  padding-top: 90px;
}

.discount-info-and-tab {
  width: 100%;
  position: fixed;
  top: 45px;
  left: 0;
  z-index: 100;
}

.tab {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: white;
  display: flex;
}

.tab-title {
  flex: 1;
  text-align: center;
  position: relative;
  color: #777;
}

.current-line {
  display: block;
  width: 80px;
  border-bottom: 2px solid #11bbb4;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.bottom-1px-line:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #BCBAB6;
  color: #BCBAB6;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.current-tab {
  color:#00a9a2;
}

.store-detail {
  margin-top: 15px;
  display: none;
}

.store-logo {
  background: white;
  padding: 0 15px;
  height: 92px;
  line-height: 92px;
}

.store-logo img {
  height: 60px;
  width: 60px;
  vertical-align: middle;
}

.row {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: white;
  position: relative;
}

.address-phone {
  margin-top: 15px;
}

.split-line:after {
  content: " ";
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #BCBAB6;
  color: #BCBAB6;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.businesstime-intro {
  margin-top: 15px;
}

.intro {
  background: white;
  padding: 15px 10px 30px;
  line-height: 23px;
  text-align: justify;
}

.discount-message {
  width: 100%;
  height: 25px;
  line-height: 25px;
  background: #c4e8e7;
  padding:0 12px;
  font-size: 13px;
  color: #307f7c;
  display: none;
}

.discount-message img{
  width: 13px;
  height: 12px;
  vertical-align: middle;
}

/*菜单样式!!!*/

.menu-category {
  width: 25%;
  background: #f7fbfb;
  overflow-y: auto;
  float: left;
}

.menu-category li {
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-bottom: 1px dashed #e3dfd8;
  font-size: 14px;
  position: relative;
}

.current-category {
  color: #11bbb4;
  background: white;
  border-left: 3px solid #11bbb4;
}

.num-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ef592b;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}


.menu-dishes {
  width: 75%;
  float: left;
  overflow-y: auto;
  background: white;
  padding-bottom: 60px;
}

.category-title {
  height: 26px;
  line-height: 26px;
  background: #f8fbfb;
  font-size: 13px;
  padding-left: 10px;
}

.dish-tip {
  height: 26px;
  line-height: 26px;
  background: #f8fbfb;
  font-size: 12px;
  padding-left: 10px;
  color: #666;
}

.dish-item {
  padding-left: 10px;
}

.dish-box {
  padding: 10px;
  background: white;
  position: relative;
  border-bottom: 1px solid #eee;
}

.dish-box img {
  height: 50px;
  width: 50px;
  float: left;
}

.name-price {
  display: inline-block;
  margin-left: 10px;
}

.add-minus {
  width: 86px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  display: flex;
  text-align: center;
}

.block {
  flex: 1;
  text-align: center;
}

.add {
  position: absolute;
  top: 0;
  left: 0;
}

.minus {
  position: absolute;
  top: 0;
  right: 0;
}

.select-attr-btn {
  width: 70px;
  height: 25px;
  font-size: 14px;
  color: white;
  background: #11bbb4;
  border-radius: 12px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}

.sellout {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}

.opt {
    height: 50px;
    width: 100%;
    background: white;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 300;
    padding: 0 10px;
  }

  .next-step {
    float: right;
    padding: 5px 0;
    height: 100%;
  }

  .next-step button {
    height: 100%;
    width: 120px;
    background: #ccc;
    font-size: 16px;
    border-radius: 4px;
    color: #f8f3f3;
    letter-spacing: 2px;
  }

  .opt:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #BCBAB6;
    color: #BCBAB6;
    -webkit-transform-origin:0 100%;
    transform-origin:0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }

  .cart-price {
    float: left;
    line-height: 50px;
    padding-left: 70px;
    color: #999;
    font-size: 16px;
  }

  .opt-box {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .shop-cart {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 310;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #11bbb4;
    text-align: center;
  }

  .total-count {
    position: absolute;
    bottom: 44px;
    left: 46px;
    z-index: 320;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #ef592b;
    color: white;
    font-size: 12px;
  }

  .bottom-list {
    background: white;
    position: fixed;
    bottom: 50px;
    left: 0;
    z-index: 290;
    padding: 0 12px;
    width: 100%;
    display: none;
  }

  .tablecode {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed #BCBAB6;
  }

  .dish-list {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #BCBAB6;
  }

  .dish-list li {
    float: left;
  }

  .add-minus2 {
    display: flex;
  }

  .add-minus2 > * {
    flex: 1;
  }


/*菜单样式!!!*/

.big-img-dialog {
    width: 80%;
    background: white;
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 1000;
    border-radius: 3px;
    margin-left: -40%;
    padding: 12px;
}

.dish-big {
    width: 100%;
    height: 280px;
    display: block;
    margin-top: 10px;
}

.big-img-dialog ul {
  margin-top: 10px;
}

.big-img-dialog li {
  float: left;
  padding: 5px 30px;
  border:1px solid #ddd;
  color: #666;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 12px;
}

.select-again{
  clear: both;
  height: 30px;
  line-height: 30px;
}

.close-icon {
  width: 34px;
  height: 34px;
  position: absolute;
  right: -26px;
  top: -26px;
  z-index: 1010;
}


</style>

<!-- 开场动画 -->
<!-- <div class="load-flash" ng-if="!hasShowed">
      <img src="/images/load.gif" class="load-img">
</div> -->

<div class="weui-header"> 
    <a href ui-sref="myhome" class="weui-header-left">
      <img src="/images/person.png" class="person">
    </a>

    <a href ui-sref="hasOrder" class="weui-header-right">
      <i class="icon-x icon-x6"></i>&nbsp;<span style="vertical-align: text-top;">已点订单</span>
    </a>
</div>

<!-- 优惠活动消息和tab切换 -->
<div class="discount-info-and-tab">
  <div class="discount-message">
    <img src="/images/broadcast.png">
    &nbsp;<span style="vertical-align: middle;">商家优惠活动 满100满10块</span>
  </div>

  <div class="tab bottom-1px-line">
    <div class="tab-title">
        <span class="current-tab"><strong>菜单列表</strong></span>
        <span class="current-line"></span>
    </div>
    <div class="tab-title">
       <span><strong>餐厅详情</strong></span>
      <span class="current-line"></span>
    </div>
  </div>
</div>

<div class="main">

  <!-- 菜单列表!!! -->
  <div class="menu">
    <!-- 左侧分类 -->
    <div class="menu-category">
      <ul>
        <li class="current-category">经典私房菜<div class="num-circle">1</div></li>
        <li>农家风味</li>
        <li>开胃凉菜</li>
        <li>饮品</li>
        <li>生煎</li>
        <li>汤</li>
        <li>主食</li>
        <li>招牌菜</li>
         <li>经典私房菜</li>
        <li>农家风味</li>
        <li>开胃凉菜</li>
        <li>饮品</li>
        <li>生煎</li>
        <li>汤</li>
        <li>主食</li>
        <li>招牌菜</li>


      </ul>
    </div>

    <!-- 右侧菜单 -->
    <div class="menu-dishes">
      <ul>
        <li class="category-title">经典私房菜</li>
        <li class="dish-item">
          <div class="dish-box">
            <img src="/images/dish_demo.jpg" ng-click="showBigImg()">
            <div class="name-price">
              <p class="font16">酸汤双笋牛蛙</p>
              <p class="font12 col999">月售0份</p>
              <p class="font14" style="color: #f96132;">¥ 29 <span class="font12 col999">/个</span></p>
            </div>

             <div class="add-minus">
                <div style="position: relative;width: 100%;">
                  <span class="block add">
                    <i class="icon-x icon-x2"></i>
                  </span>
                  &nbsp;
                  <span class="font14 block num"><strong>12</strong></span>
                  &nbsp;
                  <span class="block minus">
                    <i class="icon-x icon-x1"></i>
                  </span>
                </div>
              </div>

          </div>
        </li>

        <li class="dish-item">
          <div class="dish-box">
            <img src="/images/dish.png">
            <div class="name-price">
              <p class="font16">酸汤双笋牛蛙</p>
              <p class="font12 col999">月售0份</p>
              <p class="font14" style="color: #f96132;">¥ 29 <span class="font12 col999">/个</span></p>

              <button type="button" class="select-attr-btn">选规格</button>
            </div>
          </div>
        </li>

        <li class="dish-item">
          <div class="dish-box">
            <img src="/images/nodish.png">
            <div class="name-price">
              <p class="font16">酸汤双笋牛蛙</p>
              <p class="font12 col999">月售0份</p>
              <p class="font14" style="color: #f96132;">¥ 29 <span class="font12 col999">/个</span></p>

              <img src="/images/sellout.png" class="sellout">
            </div>
          </div>
        </li>

        <li class="category-title">农家风味</li>
        <li class="dish-item">
          <div class="dish-box">
            <img src="/images/dish_demo.jpg">
            <div class="name-price">
              <p class="font16">酸汤双笋牛蛙</p>
              <p class="font12 col999">月售0份</p>
              <p class="font14" style="color: #f96132;">¥ 29 <span class="font12 col999">/个</span></p>
            </div>

             <div class="add-minus">
                <div style="position: relative;width: 100%;">
                  <span class="block add">
                    <i class="icon-x icon-x2"></i>
                  </span>
                  &nbsp;
                  <span class="font14 block num">12</span>
                  &nbsp;
                  <span class="block minus">
                    <i class="icon-x icon-x1"></i>
                  </span>
                </div>
              </div>

          </div>
        </li>

        <li class="dish-item">
          <div class="dish-box">
            <img src="/images/nodish.png">
            <div class="name-price">
              <p class="font16">酸汤双笋牛蛙</p>
              <p class="font12 col999">月售0份</p>
              <p class="font14" style="color: #f96132;">¥ 29 <span class="font12 col999">/个</span></p>

             <div class="add-minus">
                <div style="position: relative;width: 100%;">
                  <span class="block add">
                    <i class="icon-x icon-x2"></i>
                  </span>
                  &nbsp;
                  <span class="font14 block num">12</span>
                  &nbsp;
                  <span class="block minus">
                    <i class="icon-x icon-x1"></i>
                  </span>
                </div>
              </div>


            </div>
          </div>
        </li>

        <li class="dish-item">
          <div class="dish-box">
            <img src="/images/dish.png">
            <div class="name-price">
              <p class="font16">酸汤双笋牛蛙</p>
              <p class="font12 col999">月售0份</p>
              <p class="font14" style="color: #f96132;">¥ 29 <span class="font12 col999">/个</span></p>

              <div class="add-minus">
                <div style="position: relative;width: 100%;">
                  <span class="block add">
                    <i class="icon-x icon-x2"></i>
                  </span>
                  &nbsp;
                  <span class="font14 block num">12</span>
                  &nbsp;
                  <span class="block minus">
                    <i class="icon-x icon-x1"></i>
                  </span>
                </div>
              </div>

            </div>
          </div>
        </li>

         <li class="category-title">开胃凉菜</li>
        <li class="dish-item">
          <div class="dish-box">
            <img src="/images/dish_demo.jpg">
            <div class="name-price">
              <p class="font16">酸汤双笋牛蛙</p>
              <p class="font12 col999">月售0份</p>
              <p class="font14" style="color: #f96132;">¥ 29 <span class="font12 col999">/个</span></p>
            </div>

             <div class="add-minus">
                <div style="position: relative;width: 100%;">
                  <span class="block add">
                    <i class="icon-x icon-x2"></i>
                  </span>
                  &nbsp;
                  <span class="font14 block num">12</span>
                  &nbsp;
                  <span class="block minus">
                    <i class="icon-x icon-x1"></i>
                  </span>
                </div>
              </div>

          </div>
        </li>

        <li class="dish-item">
          <div class="dish-box">
            <img src="/images/dish.png">
            <div class="name-price">
              <p class="font16">酸汤双笋牛蛙</p>
              <p class="font12 col999">月售0份</p>
              <p class="font14" style="color: #f96132;">¥ 29 <span class="font12 col999">/个</span></p>

             <div class="add-minus">
                <div style="position: relative;width: 100%;">
                  <span class="block add">
                    <i class="icon-x icon-x2"></i>
                  </span>
                  &nbsp;
                  <span class="font14 block num">12</span>
                  &nbsp;
                  <span class="block minus">
                    <i class="icon-x icon-x1"></i>
                  </span>
                </div>
              </div>

            </div>
          </div>
        </li>

        <li class="dish-item">
          <div class="dish-box">
            <img src="/images/dish.png">
            <div class="name-price">
              <p class="font16">酸汤双笋牛蛙</p>
              <p class="font12 col999">月售0份</p>
              <p class="font14" style="color: #f96132;">¥ 29 <span class="font12 col999">/个</span></p>

              <div class="add-minus">
                <div style="position: relative;width: 100%;">
                  <span class="block add">
                    <i class="icon-x icon-x2"></i>
                  </span>
                  &nbsp;
                  <span class="font14 block num">12</span>
                  &nbsp;
                  <span class="block minus">
                    <i class="icon-x icon-x1"></i>
                  </span>
                </div>
              </div>

            </div>
          </div>
        </li>

      </ul>
      <div class="dish-tip">图片仅供参考 菜品请以实物为准</div>
    </div>

  </div>

  <!-- 底部菜单列表 -->
  <div class="bottom-list">
    <div class="tablecode">
      <p class="float-left">桌号: <span></span></p>
      <p class="float-right">
        <i class="icon-x icon-x9"></i>&nbsp;<span style="vertical-align: middle;">清空</span>
      </p>
    </div>
    <ul class="dish-list">
      <li style="width: 50%;" class="font14">荠菜生煎</li>
      <li style="width: 25%;color: #f96132;" class="text-center font16"><strong>¥ 29</strong></li>
      <li style="width: 25%;">
         <div style="position: relative;display: flex;">
            <span class="block add">
              <i class="icon-x icon-x2"></i>
            </span>
            &nbsp;
            <span class="font14 block num"><strong>12</strong></span>
            &nbsp;
            <span class="block minus">
              <i class="icon-x icon-x1"></i>
            </span>
          </div>
      </li>
    </ul>

     <ul class="dish-list">
      <li style="width: 50%;" class="font14">荠菜生煎</li>
      <li style="width: 25%;color: #f96132;" class="text-center font16"><strong>¥ 29</strong></li>
      <li style="width: 25%;">
         <div style="position: relative;display: flex;">
            <span class="block add">
              <i class="icon-x icon-x2"></i>
            </span>
            &nbsp;
            <span class="font14 block num"><strong>12</strong></span>
            &nbsp;
            <span class="block minus">
              <i class="icon-x icon-x1"></i>
            </span>
          </div>
      </li>
    </ul>


  </div>

  <!-- 底部重选以及下一步 -->
  <div class="opt">
    <div class="opt-box">
      <div class="shop-cart">
        <i class="icon-x icon-x4"></i>
      </div>
      <div class="total-count">10</div>
      <div class="cart-price">购物车空空如也</div>
      <div class="next-step">
        <button type="button">下一步</button>
      </div>
    </div>
  </div>

  <!-- 餐厅详情 -->
  <div class="store-detail">
    <div class="store-logo">
      <img src="/images/default_logo.png"> &nbsp;&nbsp;易趴科技
    </div>

    <div class="address-phone">
      <div class="row split-line">
        <i class="icon-x icon-x14"></i>&nbsp;杨高南路428号
      </div>

      <div class="row">
        <i class="icon-x icon-x15"></i>&nbsp;18702121893
      </div>
    </div>

    <div class="businesstime-intro">
      <div class="row split-line">
        <p class="float-left">营业时间:</p>
        <p class="float-right col999">09:00-22:00</p>
      </div>

      <div class="intro">
         <p>门店介绍: 易趴科技</p>
      </div>
    </div>

  </div>


</div>

<!--  遮罩层 -->
<div class="global-mask-200"></div>
<div class="global-mask-400" ng-show="showBig" ng-click="showBig = false"></div>

<!-- 弹出的菜品大图模态框 -->
<div class="big-img-dialog" ng-show="showBig">
  <div style="position: relative;">

  <!-- 关闭按钮 -->
  <img src="/images/close_icon.png" class="close-icon" ng-click="showBig = false">

  <p class="dialog-title font16">鱼香肉丝</p>
  <img src="/images/dish_demo.jpg" class="dish-big">
  <ul>
    <li>大</li>
    <li>大</li>
    <li>大</li>
    <li>大</li>
  </ul>

  <div class="select-again">
    <p class="float-left" style="font-size: 22px;color: #f96132;">¥ 29</p>
    <div class="float-right" style="width: 100px;">
      <div style="position: relative;display: flex;">
            <span class="block add">
              <i class="icon-x icon-x2"></i>
            </span>
            &nbsp;
            <span class="font14 block num"><strong>12</strong></span>
            &nbsp;
            <span class="block minus">
              <i class="icon-x icon-x1"></i>
            </span>
        </div>
    </div>
  </div>
  </div>
</div>


