<style type="text/css">
  .myhome {
    padding-top:45px;
  }
  .person-info {
  	height: 100px;
  	background: white;
  	padding-left: 20px;
  }

  .default-head {
  	height: 78px;
  	width: 78px;
  	vertical-align: middle;
  }

  .name-phone {
  	float: left;
  	margin-left: 20px;
  	padding-top: 30px;
  }

  .mt5{
  	margin-top: 5px;
  }

  .goto-update {
  	width: 40px;
  	height: 100%;
  	float: right;
  	position: relative;
  }

 .arrow {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  border-top: none;
  border-right: none;
  top: 40px;
  right: 25px;
}

</style>

<weuiheader title="我的主页"></weuiheader>

<div class="myhome">
	<div class="person-info">
		<div class="float-left" style="line-height: 100px;">
			<img src='/images/default_head.png' class="default-head">
		</div>

		<div class="name-phone">
			<p>fan</p>
			<p class="col999 mt5">187***1893</p>
		</div>

		<div class="goto-update">
			<span class="arrow"></span>
		</div>
		
	</div>

	
</div>
