<style type="text/css">
  .myhome {
    padding-top:45px;
  }
  .person-info {
  	height: 100px;
  	background: white;
  	padding-left: 20px;
  }

  .default-head {
  	height: 78px;
  	width: 78px;
  	vertical-align: middle;
  }

  .name-phone {
  	float: left;
  	margin-left: 20px;
  	padding-top: 30px;
  }

  .mt5{
  	margin-top: 5px;
  }

  .goto-update {
  	width: 40px;
  	height: 100%;
  	float: right;
  	position: relative;
  }

 .arrow {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  border-top: none;
  border-right: none;
  top: 40px;
  right: 25px;
}

.my-history {
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  background: #fbfbfb;
  display: flex;
  position: relative;
}

.item-label {
  flex: 1;
  text-align: center;
  position: relative;
}
.split-line {
  position: absolute;
  top: 12px;
  left: 50%;
  height: 20px;
  border-right: 1px solid #dedede;
}

.current-line {
  display: block;
  width: 65px;
  border-bottom: 1px solid #333;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.no-record {
  padding-top: 100px;
  color: #999;
  text-align: center;
  font-size: 13px;
  /*display: none;*/
}

.no-order-record {
  width: 52px;
  height: 58px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.no-service-record {
  width: 56px;
  height: 59px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.has-order {
  margin-top: 10px;
  display: none;
}


.order-box {
    margin-bottom: 10px;
    background: white;
  }

  .time-status {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
  }

  .bottom-line {
    height: 100%;
    border-bottom: 1px solid #dedede;
  }

  .time-status p {
    font-size: 12px;
  }
  
 .order-content {
  padding: 12px 10px;
}
 .left-pic {
  float: left;
  width:70px;
  height: 70px;
  overflow: hidden;
}
.store-logo {
  width: 70px;
  height: 70px;
}
 .order-item {
  overflow: hidden;
  zoom: 1;
  margin-left: 85px;
}
 .storename2 {
  font-size: 16px;
  padding-top: 10px;
  font-weight: bold;
}
 .total-num {
  font-size: 13px;
  color: #999;
  float: left;
}
 .total-price {
  float: right;
  font-size: 13px;
}

.sex {
  display:inline-block;
  width:12px;
  height:12px;
  vertical-align:middle;
  margin-left:5px;
  background:url("/images/sex.png") no-repeat;
  background-size:24px 12px;
}

.man {
  background-position: 0 0;
}
.woman {
  background-position: -12px 0;
}


</style>

<weuiheader title="我的主页"></weuiheader>

<div class="myhome">
	<div class="person-info">
		<div class="float-left" style="line-height: 100px;">
			<img src='/images/default_head.png' class="default-head">
		</div>

		<div class="name-phone">
			<p>fan <i class="sex woman"></i></p>
			<p class="col999 mt5">187***1893</p>
		</div>

		<div class="goto-update">
			<span class="arrow"></span>
		</div>
	</div>

  <div class="my-history">
    <div class="item-label">
        <span>我的订单</span>
        <span class="current-line"></span>
    </div>
    <div class="item-label">
       <span>服务记录</span>
      <span class="current-line"></span>
    </div>
    <div class="split-line"></div>
  </div>

  <!-- 无订单 -->
  <div class="no-record">
    <img src="/images/no-order-record.png" class="no-order-record">
    <p>暂无订单</p>
  </div>

  <!-- 有订单 -->
  <div class="has-order">
    <div class="order-box">
        <div class="time-status">
          <div class="bottom-line">
            <p class="float-left col999">2017-01-01 12:11:13</p>
            <p class="float-right" style="color:#ef6500;">订单待支付</p>
          </div>
        </div>

        <div class="order-content clearfix">
          <div class="left-pic">
              <img src='/images/default_logo.png' class="store-logo">
          </div>
          <div class="order-item">
            <div class="storename2">川香小菜(宝山店)<i class="icon-x icon-x17"></i></div>
            <div style="margin-top:16px;font-size: 13px;">
              <p class="total-num">3人共点了5份</p>
              <p class="total-price">
                <span class="col999">共计</span> <b class="col333">¥ 297</b>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="order-box">
        <div class="time-status">
          <div class="bottom-line">
            <p class="float-left col999">2017-01-01 12:11:13</p>
            <p class="float-right" style="color:#ef6500;">订单待支付</p>
          </div>
        </div>

        <div class="order-content clearfix">
          <div class="left-pic">
              <img src='/images/default_logo.png' class="store-logo">
          </div>
          <div class="order-item">
            <div class="storename2">川香小菜(宝山店)<i class="icon-x icon-x17"></i></div>
            <div style="margin-top:16px;font-size: 13px;">
              <p class="total-num">3人共点了5份</p>
              <p class="total-price">
                <span class="col999">共计</span> <b class="col333">¥ 297</b>
              </p>
            </div>
          </div>
        </div>
      </div>

  </div>

  <!-- 无服务记录 -->
  <div class="no-record">
    <img src="/images/no-service-record.png" class="no-service-record">
    <p>暂无服务记录</p>
  </div>

</div>
