<style type="text/css">
	.order-confirm {
		margin-top: 10px;
		padding-top: 45px;
	}

	.tablecode {
		height: 50px;
		line-height: 50px;
		background: white;
		padding: 0 10px;
	}

	.dishes-content {
		margin-top: 10px;
	}

	.total-clean {
		padding: 0 10px;
		height: 40px;
		line-height: 40px;
		background: #fbfbfb;
	}
</style>

<weuiheader title="订单确认"></weuiheader>

<div class="order-confirm">
	<div class="tablecode">
		<p class="float-left font15">桌号</p>
		<p class="float-right font15">A20</p>
	</div>

	<!-- 菜品列表 -->
	<div class="dishes-content">
		<div class="total-clean">
			<p class="float-left font15">已点菜品</p>
			<p class="float-right font15">
				<i class="icon-x icon-x9"></i>&nbsp;清空
			</p>
		</div>
	</div>
	
</div>
