<style type="text/css">
	.order-confirm {
		margin-top: 10px;
		padding-top: 45px;
		padding-bottom: 50px;
	}

	.tablecode {
		height: 50px;
		line-height: 50px;
		background: white;
		padding: 0 10px;
	}

	.dishes-content {
		margin-top: 10px;
	}

  .bottom-line {
    height: 100%;
    border-bottom: 1px solid #dedede;
  }

	.total-clean {
		padding: 0 10px;
		height: 40px;
		line-height: 40px;
		background: #fbfbfb;
	}

	.dishes-item {
		background: white;
		padding: 0 10px;
	}

	.dishes-item ul {
		height: 40px;
		line-height: 40px;
	}

	.dishes-item ul li {
		float: left;
		display: block;
	}

	.discount-info {
		height: 45px;
		line-height: 45px;
		padding: 0 10px;
		background: white;
		border-bottom: 1px solid #dedede;
	}

	.discount-icon {
		width: 16px;
		height: 14px;
		display: inline-block;
		vertical-align: middle;
	}

	.total-count {
		height: 50px;
		line-height: 50px;
		background: white;
		padding: 0 10px;
	}

	.order-remark {
		margin-top: 10px;
		background: white;
		padding: 0 10px;
	}

	.remark-title {
		height: 40px;
		line-height: 40px;
	}

	.taste-options {
		margin-top: 15px;
		color: #999;
	}

	.group-select {
		width: 212px;
		height: 26px;
		line-height: 26px;
		display: flex;
		border-radius: 4px;
		position: relative;
		float:left;
	}

	.group-option {
		flex: 1;
		display: block;
		text-align: center;
		border: 1px solid #b1b1b1;
	}

	#option1 {
		border-right: none;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	#option2 {
		border-left: none;
		border-right: none;
	}

	#option3 {
		border-left: none;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.vertical-line {
		display: block;
		position: absolute;
		top: 0;
		height: 26px;
		border-right: 1px solid #b1b1b1;
	}

	#line1 {
		left: 70px;
	}

	#line2 {
		right: 70px;
	}

	.taste-options ul {
		height: 26px;
	} 
	.taste-options li {
		float: left;
		margin-right: 10px;
	}
	.taste-options button{
		border: 1px solid #b1b1b1;
		border-radius: 4px;
		color: #999;
		padding: 0 10px;
		height: 26px;
	}

	.mt10{
		margin-top: 10px;
	}

	.other-demand {
		padding: 15px 0;
		background: white;
	}

	.custom-input {
		height: 34px;
		width: 100%;
		padding-left: 12px;
		background: #f1f1f1;
		display: block;
	}

	.invoice {
		margin-top: 10px;
		height: 50px;
		line-height: 50px;
		background: white;
		padding: 0 10px;
	}

	.switch {
		width: 45px;
		height: 28px;
		vertical-align: middle;
	}

	.invoice-write {
		margin-top: 10px;
		padding: 10px;
		background: white;
	}

	.weixin-pay {
		height: 50px;
		width: 100%;
		background: white;
		border-top: 1px solid #dedede;
		position: fixed;
		z-index: 1000;
		left: 0;
		bottom: 0;
		padding: 0 10px;
	}
	.pay-btn {
		height: 38px;
		width: 145px;
		border-radius: 4px;
		background: #11bbb4;
		color: white;
		font-size: 16px;
		vertical-align: middle;
	}

</style>

<weuiheader title="订单确认"></weuiheader>

<div class="order-confirm">
	<div class="tablecode">
		<p class="float-left">桌号</p>
		<p class="float-right">A20</p>
	</div>

	<!-- 菜品列表 -->
	<div class="dishes-content">
		<div class="total-clean">
			<div class="bottom-line">
				<p class="float-left">已点菜品 (11份)</p>
				<p class="float-right">
					<i class="icon-x icon-x9"></i>&nbsp;清空
				</p>
			</div>
		</div>

		<div class="dishes-item">
			<div class="bottom-line">
				<ul>
					<li style="width:60%">鱼香肉丝</li>
					<li class="text-center" style="width:20%">x1</li>
					<li class="text-right" style="width:20%">¥58</li>
				</ul>
				<ul>
					<li style="width:60%">鱼香肉丝</li>
					<li class="text-center" style="width:20%">x1</li>
					<li class="text-right" style="width:20%">¥58</li>
				</ul>
				<ul>
					<li style="width:60%">餐具费</li>
					<li class="text-center" style="width:20%">x4</li>
					<li class="text-right" style="width:20%">¥58</li>
				</ul>
			</div>
		</div>

		 <!-- 优惠信息 -->
		<div class="discount-info">
			<p class="float-left">
			 	<img src='/images/discount_icon.png' class="discount-icon">
			 	&nbsp;<span class="col999">满100送10块</span>
			 </p>
			 <p class="float-right">- ¥10</p>
		</div>

		<!-- 合计 -->
		<div class="total-count">
			<p class="float-left">
				<span>合计 ¥58</span> &nbsp;
				<span class="col999">已优惠 ¥10</span>
			</p>
			<p class="float-right">应付 <span style="color:#f97432;font-size: 17px;">¥158</span></p>
		</div>
	</div>

	<!-- 订单备注 -->
	<div class="order-remark">
		<div class="bottom-line" style="height: auto">
			<div class="remark-title">订单备注</div>
		</div>

		<div class="taste-options">
			<ul>
				<li class="group-select">
					<span id="option1" class="group-option">不要辣</span>
					<span id="option2" class="group-option">少放辣</span>
					<span id="option3" class="group-option">多放辣</span>
					<span class="vertical-line" id="line1"></span>
					<span class="vertical-line" id="line2"></span>
				</li>
				<li style="margin-right: 0;"><button type="button">少放酱油</button></li>
			</ul>

			<ul class="clearfix mt10">
				<li><button type="button">少放盐</button></li>
				<li><button type="button">多点醋</button></li>
				<li><button type="button">不要香菜</button></li>
				<li><button type="button">不要洋葱</button></li>
			</ul>
		</div>

		<div class="other-demand">
			<input type="text" placeholder="其他偏好或要求" class="custom-input">
		</div>

	</div>

	<!-- 是否需要发票 -->
	<div class="invoice">
		<p class="float-left">是否需要发票</p>
		<div class="float-right">
		<img src='/images/switch_close.png' class="switch">
		</div>
	</div>

	<!-- 填写发票信息 -->
	<div class="invoice-write">
		<input type="text" placeholder="请输入发票信息" class="custom-input">
		<input type="text" placeholder="请输入邮箱" class="custom-input mt10">
	</div>

	 <!-- 微信支付 -->
	 <div class="weixin-pay">
	 	<div class="float-left" style="padding-top: 8px;">
	 		<p class="font13">应付 &nbsp;<span style="font-size: 18px;color:#f96132;">¥158</span></p>
	 		<p class="font12 col999">已点11份</p>
	 	</div>
	 	<div class="float-right" style="line-height: 50px;">
	 		<button type="button" class="pay-btn">微信支付</button>
	 	</div>

	 </div>
	
</div>
