<style type="text/css">
	.weui-header {
		background: #0aa59f;
		color: white;
	}

	.weui-header:before {
		border-bottom: none;
	}

	.icon-x10:before {
		color: white;
	}

	.order-detail {
		padding-top: 45px;
		padding-bottom: 60px;
	}

	.order-status {
		padding: 10px;
		background: #0aa59f;
	}

	.status-ban {
		width: 100%;
		height: 60px;
		line-height: 60px;
		background: white;
		padding-left: 15px;
		position: relative;
	}

	.order {
		width: 42px;
		height: 42px;
		vertical-align: middle;
	}

	.pay-finish {
		width: 17px;
		height: 17px;
		position: absolute;
		top: 33px;
		left: 45px;
		z-index: 10;
	}

	.order-bill {
		padding: 20px 5px 10px;
		position: relative;
	}

	.bill-pin {
		width: 100%;
		height: 6px;
		background: #cfcfcf;
		border-radius: 4px;
	}

	/*.bill-detail {
		width: 96%;
		height: auto;
		background: white;
		z-index: 100;
		position: absolute;
		top: 24px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}*/


	.bill-detail {
		margin-top: -3px;
		margin-left: 5px;
		margin-right: 5px;
		background: white;
		z-index: 100;
	}



	.content {
		padding: 13px;
	}

	.head {
		height: 28px;
		width: 28px;
		vertical-align: middle;
	}

	.row {
		height: 34px;
		line-height: 34px;
	}

	.line-left {
	  display:inline-block;
	  width:37px;
	  height:3px;
	  vertical-align:middle;
	  background:url("/images/line-left.png") no-repeat;
	  background-size: 100% 100%;
	}

	.line-right {
	  display:inline-block;
	  width:37px;
	  height:3px;
	  vertical-align:middle;
	  background:url("/images/line-right.png") no-repeat;
	  background-size: 100% 100%;
	}

	.dealcode-title {
		display: inline-block;
		margin: 0 10px;
		color: #ffb196;
	}

	.dealcode-theme {
		width: 220px;
		height: 94px;
		margin: 0 auto;
		text-align: center;
		margin-top: 5px;
	}

	.dealcode {
		font-size: 26px;
		color:#ff571d;
		margin-top: 10px;
	}

	.deal-tip{
		color:#999;
		margin-top: 15px;
	}

	.split-paper {
		height: 25px;
		position: relative;
	}

	/*.left-circle {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #f1f1f1;
		position: absolute;
		top: 0;
		left: -8px;
	}

	.right-circle {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #f1f1f1;
		position: absolute;
		top: 0;
		right: -8px;
	}

	.circle-container {
		padding:0 20px;
		width: 100%;
		height: 12px;
		position: absolute;
		top: 5px;
		left: 0;
	}

	.split-circle {
		width: 100%;
		height: 100%;
		background:url("/images/circle.png");
		background-size: 12px 12px;
	}*/

	.split-circle-img {
		width: 100%;
		height: 18px;
	}

	.dish-title {
		height: 45px;
		line-height: 45px;
		padding-left: 10px;
		border-bottom: 1px solid #ddd;
	}

	.dish-item {
		display: flex;
		padding: 0 10px;
		height: 50px;
		line-height: 50px;
	}

	.dish-item li {
		border-bottom: 1px dashed #cbcbcb;
	}

	.discount-icon {
		width: 16px;
		height: 14px;
		vertical-align: middle;
	}

	.order-info-title {
		height: 47px;
		line-height: 47px;
		background: white;
		padding-left: 10px;
		border-bottom: 1px solid #ddd;
	}

	.order-info {
		background: white;
	}

	.info-row {
		height: 47px;
		line-height: 47px;
		background: white;
		font-size: 14px;
		color: #666;
		border-bottom: 1px solid #ddd;
	}

	.opt {
		height: 50px;
		width: 100%;
		background: white;
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 100;
		padding: 5px 10px;
	}

	.opt button {
		height: 100%;
		width: 100%;
		background: #11bbb4;
		font-size: 18px;
		color: white;
		border-radius: 4px;
	}

	.opt:before{
	  content: " ";
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  border-bottom: 1px solid #BCBAB6;
	  color: #BCBAB6;
	  -webkit-transform-origin:0 100%;
	  transform-origin:0 100%;
	  -webkit-transform: scaleY(0.5);
	  transform: scaleY(0.5);
	}

</style>

<div class="weui-header"> 
    <div class="weui-header-left">
      <a href="javascript:history.back(-1)"><i class="icon-x icon-x10"></i></a>
    </div>
    <h1 class="weui-header-title">订单详情</h1>
</div>

<div class="order-detail">
	<div class="order-status">
		<div class="status-ban">
			 <img src="/images/order.png" class="order">
			 <img src="/images/pay_finish.png" class="pay-finish">
			 <span style="vertical-align: middle; margin-left: 10px;">订单已支付</span>
		</div>
	</div>

	<!-- 订单详细 -->
	<div class="order-bill">
		<div class="bill-pin"></div>
		<div class="bill-detail">
			<div class="content">
				<div class="row">
					<div class="float-left">
						<img src="/images/default_head.png" class="head"> &nbsp;<span style="vertical-align: middle;">范骏</span>
					</div>
					<p class="float-right">2号桌</p>
				</div>

				<!-- 就餐号 -->
				<div class="dealcode-theme">
					<div>
						<i class="line-left"></i>
						<p class="dealcode-title">就餐号</p>
						<i class="line-right"></i>
					</div>
					<p class="dealcode">029</p>
					<p class="deal-tip">请记住就餐号,请凭就餐号取餐</p>
				</div>

			</div>

			<!-- 分割线 -->
			<div class="split-paper">
				<!-- <div class="left-circle"></div>
				<div class="right-circle"></div>
				<div class="circle-container">
					<div class="split-circle"></div>
				</div> -->
				 <img src="/images/split_circle.png" class="split-circle-img">
			</div>

			<div class="dish-title"><strong>订单菜品</strong></div>

			<!-- 菜品列表 -->

			<ul class="dish-item">
				<li style="flex: 5">上汤娃娃菜</li>
				<li class="text-center" style="flex: 2">x1</li>
				<li class="text-right" style="flex: 3">¥58</li>
			</ul>

			<ul class="dish-item">
				<li style="flex: 5">上汤娃娃菜</li>
				<li class="text-center" style="flex: 2">x1</li>
				<li class="text-right" style="flex: 3">¥58</li>
			</ul>

			<ul class="dish-item">
				<li style="flex: 7">#附加餐具费</li>
				<li class="text-right" style="flex: 3">¥158</li>
			</ul>

			<ul class="dish-item">
				<li style="flex: 7">
					<img src="/images/discount_icon.png" class="discount-icon">
					&nbsp;<span style="vertical-align: middle;">满100送10块</span>
				</li>
				<li class="text-right" style="flex: 3">-¥15</li>
			</ul>

			<ul class="dish-item">
				<li style="flex: 7;border:none;">合计 ¥125 <span class="font13 col999" style="margin-left:5px;">已优惠 ¥12</span></li>
				<li class="text-right" style="flex: 3;border:none;">实付 <span style="font-size: 22px;color:#f97432">¥125</span></li>
			</ul>

		</div>
	</div>

	<!-- 订单信息 -->
	<div class="order-info">
		<div class="order-info-title"><strong>订单信息</strong></div>
		<div style="padding:0 10px;">
			<div class="info-row">
				<p class="float-left">订单编号:</p>
				<p class="float-right">123456</p>
			</div>
		</div>

		<div style="padding:0 10px;">
			<div class="info-row">
				<p class="float-left">下单时间:</p>
				<p class="float-right">2017-01-01 12:11:13</p>
			</div>
		</div>

		<div style="padding:0 10px;">
			<div class="info-row">
				<p class="float-left">支付方式:</p>
				<p class="float-right">未支付</p>
			</div>
		</div>

	</div>

	<!-- 评价订单按钮 -->
	<div class="opt">
		<button type="button">菜品评价</button>
	</div>

</div>
