<style type="text/css">
	.weui-header {
		background: #0aa59f;
		color: white;
	}

	.weui-header:before {
		border-bottom: none;
	}

	.icon-x10:before {
		color: white;
	}

	.order-detail {
		padding-top: 45px;
	}

	.order-status {
		padding: 10px;
		background: #0aa59f;
	}

	.status-ban {
		width: 100%;
		height: 60px;
		line-height: 60px;
		background: white;
		padding-left: 15px;
		position: relative;
	}

	.order {
		width: 42px;
		height: 42px;
		vertical-align: middle;
	}

	.pay-finish {
		width: 17px;
		height: 17px;
		position: absolute;
		top: 33px;
		left: 45px;
		z-index: 10;
	}

	.order-bill {
		padding: 20px 5px 10px;
		position: relative;
	}

	.bill-pin {
		width: 100%;
		height: 6px;
		background: #cfcfcf;
		border-radius: 4px;
	}

	.bill-detail {
		width: 96%;
		height: auto;
		background: white;
		z-index: 100;
		position: absolute;
		top: 24px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	.content {
		padding: 13px;
	}

	.head {
		height: 28px;
		width: 28px;
		vertical-align: middle;
	}


</style>

<div class="weui-header"> 
    <div class="weui-header-left">
      <a href="javascript:history.back(-1)"><i class="icon-x icon-x10"></i></a>
    </div>
    <h1 class="weui-header-title">订单详情</h1>
</div>

<div class="order-detail">
	<div class="order-status">
		<div class="status-ban">
			 <img src="/images/order.png" class="order">
			 <img src="/images/pay_finish.png" class="pay-finish">
			 <span style="vertical-align: middle; margin-left: 10px;">订单已支付</span>
		</div>
	</div>

	<!-- 订单详细 -->
	<div class="order-bill">
		<div class="bill-pin"></div>
		<div class="bill-detail">
			<div class="content">
				<img src="/images/default_head.png" class="head"> &nbsp; <span style="vertical-align: middle;">范骏</span>
			</div>
		</div>
	</div>

	<!-- 评价订单按钮 -->
	<div>
		
	</div>


</div>
