<style type="text/css">
	.order-confirm {
		margin-top: 10px;
		padding-top: 45px;
		padding-bottom: 50px;
	}

	.tablecode {
		height: 50px;
		line-height: 50px;
		background: white;
		padding: 0 10px;
	}

	.dishes-content {
		margin-top: 10px;
	}

  .bottom-line {
    height: 100%;
    border-bottom: 1px solid #dedede;
  }

	.total-clean {
		padding: 0 10px;
		height: 40px;
		line-height: 40px;
		background: #fbfbfb;
	}

	.dishes-item {
		background: white;
		padding: 0 10px;
	}

	.dishes-item ul {
		height: 40px;
		line-height: 40px;
	}

	.dishes-item ul li {
		float: left;
		display: block;
	}

	.discount-info {
		height: 45px;
		line-height: 45px;
		padding: 0 10px;
		background: white;
		border-bottom: 1px solid #dedede;
	}

	.discount-icon {
		width: 16px;
		height: 14px;
		display: inline-block;
		vertical-align: middle;
	}

	.total-count {
		height: 50px;
		line-height: 50px;
		background: white;
		padding: 0 10px;
	}

	.order-remark {
		margin-top: 10px;
		background: white;
		padding: 0 10px;
	}

	.remark-title {
		height: 40px;
		line-height: 40px;
	}

	.taste-options {
		margin-top: 15px;
		color: #999;
	}

	.group-select {
		width: 212px;
		height: 26px;
		line-height: 26px;
		display: flex;
		border-radius: 4px;
		position: relative;
		float:left;
	}

	.group-option {
		flex: 1;
		display: block;
		text-align: center;
		border: 1px solid #b1b1b1;
	}

	#option1 {
		border-right: none;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	#option2 {
		border-left: none;
		border-right: none;
	}

	#option3 {
		border-left: none;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.vertical-line {
		display: block;
		position: absolute;
		top: 0;
		height: 26px;
		border-right: 1px solid #b1b1b1;
	}

	#line1 {
		left: 70px;
	}

	#line2 {
		right: 70px;
	}

	.taste-options ul {
		height: 26px;
	} 
	.taste-options li {
		float: left;
		margin-right: 10px;
	}
	.taste-options button{
		border: 1px solid #b1b1b1;
		border-radius: 4px;
		color: #999;
		padding: 0 10px;
		height: 26px;
	}

	.current-taste {
		border-color: #11bbb4!important;
		color: #00a9a2!important;
	}

	.current-hot {
		border-color: #11bbb4!important;
		color: #00a9a2!important;
	}

	.mt10{
		margin-top: 10px;
	}

	.other-demand {
		padding: 15px 0;
		background: white;
	}

	.custom-input {
		height: 34px;
		width: 100%;
		padding-left: 12px;
		background: #f1f1f1;
		display: block;
	}

	.invoice {
		margin-top: 10px;
		height: 50px;
		line-height: 50px;
		background: white;
		padding: 0 10px;
	}

	.switch {
		width: 45px;
		height: 28px;
		vertical-align: middle;
	}

	.invoice-write {
		margin-top: 10px;
		padding: 10px;
		background: white;
	}

	.weixin-pay {
		height: 50px;
		width: 100%;
		background: white;
		position: fixed;
		z-index: 100;
		left: 0;
		bottom: 0;
		padding: 0 10px;
	}

.weixin-pay:before{
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #BCBAB6;
	color: #BCBAB6;
	-webkit-transform-origin:0 100%;
	transform-origin:0 100%;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}

.pay-btn {
	height: 38px;
	width: 145px;
	border-radius: 4px;
	background: #11bbb4;
	color: white;
	font-size: 16px;
	vertical-align: middle;
}

 .clean-dish-dialog {
 	position: fixed;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    border-radius: 3px;
    border-radius: 2px;
    z-index: 1000;
 }

.dialog .dialog-content {
  padding: 20px 40px 15px;
}

.dialog .opt-btn {
  width: 100px;
  height: 34px;
  font-size: 14px;
  border-radius: 4px;
  color: white;
}

.opt-block {
	height: 40px;
}

.dialog-text {
	font-size: 17px;
	margin-bottom: 20px;
}

</style>

<weuiheader title="订单确认"></weuiheader>

<div class="order-confirm">
	<div class="tablecode">
		<p class="float-left">桌号</p>
		<p class="float-right">A20</p>
	</div>

	<!-- 菜品列表 -->
	<div class="dishes-content">
		<div class="total-clean">
			<div class="bottom-line">
				<p class="float-left">已点菜品 (11份)</p>
				<p class="float-right" ng-init="isClean = false" ng-click = "isClean = true">
					<i class="icon-x icon-x9"></i>&nbsp;<span style="vertical-align: middle;">清空</span>
				</p>
			</div>
		</div>

		<div class="dishes-item">
			<div class="bottom-line">
				<ul>
					<li style="width:60%">鱼香肉丝</li>
					<li class="text-center" style="width:20%">x1</li>
					<li class="text-right" style="width:20%">¥58</li>
				</ul>
				<ul>
					<li style="width:60%">鱼香肉丝</li>
					<li class="text-center" style="width:20%">x1</li>
					<li class="text-right" style="width:20%">¥58</li>
				</ul>
				<ul>
					<li style="width:60%">餐具费</li>
					<li class="text-center" style="width:20%">x4</li>
					<li class="text-right" style="width:20%">¥58</li>
				</ul>
			</div>
		</div>

		 <!-- 优惠信息 -->
		<div class="discount-info">
			<p class="float-left">
			 	<img src='/images/discount_icon.png' class="discount-icon">
			 	&nbsp;<span class="col999">满100送10块</span>
			 </p>
			 <p class="float-right">- ¥10</p>
		</div>

		<!-- 合计 -->
		<div class="total-count">
			<p class="float-left">
				<span>合计 ¥58</span> &nbsp;
				<span class="col999">已优惠 ¥10</span>
			</p>
			<p class="float-right">应付 <span style="color:#f97432;font-size: 17px;">¥158</span></p>
		</div>
	</div>

	<!-- 订单备注 -->
	<div class="order-remark">
		<div class="bottom-line" style="height: auto">
			<div class="remark-title">订单备注</div>
		</div>

		<div class="taste-options">
			<ul>
				<li class="group-select">
					<span id="option1" class="group-option" ng-click="selectHot('nohot')" ng-class="{'current-hot': hot == 'nohot'}">不要辣</span>
					<span id="option2" class="group-option" ng-click="selectHot('littleHot')" ng-class="{'current-hot': hot == 'littleHot'}">少放辣</span>
					<span id="option3" class="group-option" ng-click="selectHot('moreHot')" ng-class="{'current-hot': hot == 'moreHot'}">多放辣</span>
					<span class="vertical-line" id="line1" ng-class="{'current-hot': hot == 'nohot' || hot == 'littleHot'}"></span>
					<span class="vertical-line" id="line2"></span>
				</li>
				<li style="margin-right: 0;"><button type="button" ng-click="selectTaste('soySauce')" ng-class="{'current-taste': isSoySauce}">少放酱油</button></li>
			</ul>

			<ul class="clearfix mt10">
				<li><button type="button" ng-click="selectTaste('salt')" ng-class="{'current-taste': isSalt}">少放盐</button></li>
				<li><button type="button" ng-click="selectTaste('vinegar')" ng-class="{'current-taste': isVinegar}">多点醋</button></li>
				<li><button type="button" ng-click="selectTaste('coriander')" ng-class="{'current-taste': isCoriander}">不要香菜</button></li>
				<li><button type="button" ng-click="selectTaste('onion')" ng-class="{'current-taste': isOnion}">不要洋葱</button></li>
			</ul>
		</div>

		<div class="other-demand">
			<input type="text" placeholder="其他偏好或要求" class="custom-input" maxlength="50">
		</div>

	</div>

	<!-- 是否需要发票 -->
	<div class="invoice">
		<p class="float-left">是否需要发票</p>
		<div class="float-right">
		<img src='/images/switch_close.png' class="switch">
		</div>
	</div>

	<!-- 填写发票信息 -->
	<div class="invoice-write">
		<input type="text" placeholder="请输入发票信息" class="custom-input" maxlength="30">
		<input type="text" placeholder="请输入邮箱" class="custom-input mt10" maxlength="50">
	</div>

	 <!-- 微信支付 -->
	 <div class="weixin-pay">
	 	<div class="float-left" style="padding-top: 8px;">
	 		<p class="font13">应付 &nbsp;<span style="font-size: 18px;color:#f96132;">¥158</span></p>
	 		<p class="font12 col999">已点11份</p>
	 	</div>
	 	<div class="float-right" style="line-height: 50px;">
	 		<button type="button" class="pay-btn">微信支付</button>
	 	</div>

	 </div>


	 <!-- 清除菜单模态框 -->
	 <div class="clean-dish-dialog dialog" ng-show="isClean">
		<div class="dialog-content">
			<p class="dialog-text">确定要清空购物车吗?</p>
			<div class="opt-block">
				<button type="button" class="opt-btn float-left cancel-btn" style="background-color: white;border:1px solid #11bbb4;color:#000" ng-click="isClean = false">取消</button>
				<button type="button" class="opt-btn float-right" style="background-color: #11bbb4;border:1px solid #11bbb4:" ng-click="cleanShopCart()">确定</button>
			</div>
		</div>
	</div>

	<div class="global-mask-200" ng-show = "isClean" ng-click = "isClean = false"></div>
	
</div>
